@page "/"
@rendermode InteractiveServer
@inject CoalStorageMsSqlDbContext dbContext
@inject NotificationService NotificationService

<PageTitle>Home</PageTitle>




<h2>Груз на площадках</h2>

@if (_selectedArea is not null)
{
    @foreach (var item in _selectedArea)
    {
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap" Gap="1rem" class="rz-p-sm-12">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Выбран: @item.AreaName</RadzenText>
            <RadzenFormField Text="Новое значение для груза на площадке">
                <RadzenNumeric @bind-Value="@_newAreaCargoCount" />
            </RadzenFormField>
            <RadzenButton Click=@(args => ChangeButtonClick()) Text="Изменить значение" ButtonStyle="ButtonStyle.Success" />
        </RadzenStack>
    }
}
else
{
    <p>Загрузка</p>
}


@if (AreasCoalStorage is not null)
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@AreasCoalStorage" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@SelectedArea>
        <Columns>
            <RadzenDataGridColumn Property="@nameof(Area.AreaName)" Filterable="true" Title="Номер площадки" Frozen="true" Width="200px" TextAlign="TextAlign.Center" />

            <RadzenDataGridColumn Property="@nameof(Area.CargoOnArea)" Title="Груз на площадке(т)" TextAlign="TextAlign.Center" Frozen="true" Width="200px" />
        </Columns>
    </RadzenDataGrid>
}
else
{
    <p>Загрузка...</p>
}

@code {
    const string NOOBJECT_MESSEGE = "Данные не были изменены, объект отсутствует";
    const string CARGO_NOTCHANGED = "Груз не изменён";

    public List<Area>? AreasCoalStorage { get; set; }

    double _newAreaCargoCount;
    IList<Area>? _selectedArea;

    //при изменениях выделенного поля меняем элемент в поле ввода
    private IList<Area>? SelectedArea
    {
        get { return _selectedArea; }
        set
        {
            _selectedArea = value;
            SetInputCargoField();
        }
    }

    private void SetInputCargoField()
    {
        double cargoOnArea = _selectedArea.FirstOrDefault().CargoOnArea;
        _newAreaCargoCount = cargoOnArea;
    }




    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        AreasCoalStorage = dbContext.Areas.ToList();
        _selectedArea = new List<Area>() { AreasCoalStorage?.FirstOrDefault() };
        SetInputCargoField();
    }

    private async Task ChangeButtonClick()
    {

        if (_selectedArea is null
         || AreasCoalStorage is null
        || AreasCoalStorage.Count == 0)
        {
            ShowMessege(NOOBJECT_MESSEGE);
            return;
        }

        string message = CARGO_NOTCHANGED;
        Area? selectedArea = _selectedArea.FirstOrDefault();

        foreach (var item in AreasCoalStorage)
        {
            if (selectedArea.AreaName == item.AreaName
              && _newAreaCargoCount != item.CargoOnArea)
            {
                message = $"Груз на площадке {selectedArea.AreaName} изменен с {item.CargoOnArea} на {_newAreaCargoCount}\n";
                item.CargoOnArea = _newAreaCargoCount;
                await AddToCargoHistoryAsync(item);
            }
        }

        ShowMessege(message);
    }


    private async Task AddToCargoHistoryAfterAsync()
    {
        Area? selectedArea = _selectedArea.FirstOrDefault();
        await Task.Run(() =>
         AddToCargoHistory(selectedArea)
        );
    }


    private async Task AddToCargoHistoryAsync(Area area)
    {
        await Task.Run(() =>
         AddToCargoHistory(area)
        );
    }

    private void AddToCargoHistory(Area area)
    {
        dbContext.CargoHistory.Add(new CargoHistory()
            {
                DateTime = DateTime.Now,
                AreaName = area.AreaName,
                CargoOnArea = area.CargoOnArea
            });
        string message = $"Операция изменения значения зруза на площадке {area.AreaName} на {area.CargoOnArea} добавлена в историю";
        dbContext.SaveChanges();
        ShowMessege(message);
    }




    private void ChangeCargoOnArea(Area selectedArea, Area edditingArea)
    {

    }

    private void ShowMessege(string massage)
    {
        NotificationService.Notify(new NotificationMessage 
            { Severity = NotificationSeverity.Info, 
                Summary = "Button Clicked", 
                Detail = massage
            });
    }

}

